<!DOCTYPE html>
<html>
<head>
	<title >login and registration</title>
</head>
<style type="text/css">
* {
	margin: 10px;
}
h1, h2, h5{
	font-family: sans-serif;
}
</style>
<body>
	<h1>Login and Registration</h1>
	<div style="display: inline-block;">

		<!-- <p style="color: red; font-size: 50px">{{ message }}</p> -->

		{% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
    	{% endif %}

		<h2>Register here!</h2>
		
		
		<form action="/validate", method="post">
			{% csrf_token %}

			<h5>Name:</h5>
			<input type="text" name="name" value="{{request.session.name}}">


			<h5>Alias:</h5>
			<input type="text" name="alias" value ="{{request.session.alias}}">
			<h5>Email:</h5>
			<input type="text" name="reg_email" value ="{{request.session.email}}">
			<h5>Password:</h5>
			<input type="password" name="password">
			<p>*Password should be at least 8 characters</p>
			<h5>Confirm password:</h5>
			<input type="password" name="con_pass">
			<p>Date of Birth</p>
			<input type="date" name="">

			<button style="background-color: #21AAE1; color: white;">Register!</button>
		</form>
	</div>

	<div style="display: inline-block; vertical-align: top; margin-left: 20px">
		
		<form action="/login", method="post">
			{% csrf_token %}		
			<h2>Login here!</h2>
			<h5>Email:</h5>
			<input type="text" name="log_email">
			<h5>Password:</h5>
			<input type="password" name="log_password">
			<button style="background-color: #21AAE1; color: white;">Log in</button>

		</form>

	</div>

</body>
</html>