<!DOCTYPE html>
<html>
<head>
	<title>show</title>
	<style type="text/css">
	*{
		margin: 30px;
	}
	h4{
		color: green;
	}
	h4, h3, h1 {
		font-family: fantasy;
	}
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
</style>
</head>
<body>
	<a href="/success">Home</a>
	<a href="/logout">Logout</a>

	
	<h1>Posted by: {{name}}</h1>
	<h3>Count: {{ count }}</h3>







	<h4>Quote: {{desc}}</h4>

	{% for i in other_items %}
		
		<!-- <li>{{ i.name }}</li> -->
		<li>{{ i.desc }}</li>
		
	{% endfor %}
	</ul>
</body>
</html>